body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    padding-top: 5px;
}

.left_16px {
    margin-left: 16px;
}

.wd-fg-color-white {
    color: white;
}

.wd-fg-color-blue {
    color: rgb(29,161,242);
}

.wd-bg-color-dark-gray {
    background-color: darkgray;
}

.wd-search-bar-container {
    background-color: darkgray;
    width: 400px;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
}

input {
    width: 90%;
    background-color: darkgray;
    color: white;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    margin: 5px;
}

.wd-search-icon {
    width: 5%;
    text-align: center;
    align-items: center;
}

.wd-gear-icon {
    font-size: 30px;
    padding-right: 12px;
    color: rgb(29,161,242);
    decoration: none;
}

.wd-float-left-85 {
    float: left;
    width: 85%;
}

.wd-float-right {
    float: right;
}

.wd-float-left {
    float: left;
}

.wd-float-done {
    clear: both;
}

.wd-navigation-bar {
    color: white;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color: rgb(47, 51, 54);
    padding: 16px;
}

.wd-navigation-bar a {
    float: left;
    width: 16.66%;
    height: 30px;
    color: rgb(110, 118, 125);
    border-bottom-color: rgb(47, 51, 54);
    border-bottom-style: solid;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.wd-navigation-bar a.active {
    color: rgb(29,161,242);
    border-bottom-color: rgb(29,161,242);
    border-bottom-width: 3px;
}

.wd-row {
    border-bottom-style: solid;
    border-bottom-color: rgb(47, 51, 54);
}

.wd-light-topic {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-gray-topic {
    font-size: 13px;
    color: lightgray;
}

.wd-white-topic {
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.wd-title-or-name {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.wd-number_of_tuits {
    font-size: 12px;
    color: rgb(110, 118, 125);
}

.wd-number_of_tuits {
    font-size: 12px;
    color: rgb(110, 118, 125);
}

.wd-content {
    float: left;
    width: 85%
}

.wd-content div {
    /*padding-left: 16px;*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    margin-left: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wd-float-right-image {
    float: right;
    width: 100px;
    height: 100px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 15px;
}

.wd-float-done {
    clear: both;
}

.wd-content {
    float: left;
}

.wd-back-bottom {
    padding: 5px;
}





